@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
/* 
    font-family: "Montserrat", serif;
    font-family: "Source Sans 3", serif;
*/

*, *::before, *::after {
    box-sizing: border-box;
}

:root { 
    --white: #F0EDEA;
    --white-2a: rgba(240, 237, 234, 0.02);
    --white-5a: rgba(240, 237, 234, 0.05);
    --white-7a: rgba(240, 237, 234, 0.07);
    --white-15a: rgba(240, 237, 234, 0.15);
    --black: #1A1512;
    /* --black: #0F0B07 */

    --primary: #FF9A9E;
    --secondary: #FAD0C4;
    --accent: #FF9F4F;
    --gradient-angle: linear-gradient(142deg, #FF9A9E 4.66%, #FAD0C4 95.51%);
    --gradient-straight: linear-gradient(90deg, #FF9A9E 0%, #FAD0C4 100%);
 
    --red: #E5585D;
    --green: #1DB949;
    --blue: #2BA8DE;
}

html {
    scroll-behavior: smooth;
    position: relative;
}

body {
    min-height: 100vh;
    min-height: 100svh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: var(--black);
    color: var(--white);
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 100%;
}

p, h1, h2, h3, h4, h5, h6, ul, li, a {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.2s ease-out;
}
a:hover {
    color: var(--primary);
}

.color-primary { color: var(--primary); }

.font-thin { font-weight: 100; }
.font-extra_light { font-weight: 200; } 
.font-light { font-weight: 300; }
.font-medium { font-weight: 500; }
.font-semi_bold { font-weight: 600; }
.font-bold { font-weight: 700; }
.font-extra_bold { font-weight: 800; }
.font-black { font-weight: 900; }

.flex-1 { flex: 1 !important; }
.flex-2 { flex: 2 !important; }
.flex-3 { flex: 3 !important; }
.gap-4 { gap: 4px !important; }
.gap-8 { gap: 8px !important; }
.gap-16 { gap: 16px !important; }
.gap-24 { gap: 24px !important; }
.gap-32 { gap: 32px !important; }
.gap-48 { gap: 48px !important; }
.gap-64 { gap: 64px !important; }
.gap-72 { gap: 72px !important; }
.gap-96 { gap: 96px !important; }

.pos-relative { position: relative; }

.text-left { text-align: left; }

.Vue-Toastification__toast--info {
    background-color: var(--primary) !important;
}

body.openedSidebar {
    overflow-y: scroll;
    position: fixed;
}

.section-heading {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.btn {
    padding: 8px 24px;
    color: var(--white);
    border-radius: 8px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 600;
    transition: all 0.2s ease-out;
}
a.btn.primary:hover {
    color: var(--black);
}
a.btn.secondary:hover {
    color: var(--white);
}

.btn.primary {
    background: var(--gradient-angle);
    color: var(--black);
    font-weight: 700;
    border: 2px solid transparent;
}
.btn.primary:hover {
    border: 2px solid var(--black);
}

.btn.secondary {
    background-color: var(--black);
    background-clip: padding-box;
    border: solid 1px transparent;
}
.btn.secondary::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: var(--gradient-angle);
}

.btn.secondary:hover {
    background-color: rgba(26, 21, 18, 0.9);
}

input.styled {
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--primary);
    position: relative;
    padding: 8px 16px;
    border-radius: 8px;
}
input.styled:focus-visible {
    border: 2px solid var(--secondary);
    outline: none !important;
}

.form-row {
    position: relative;
}

.form-row .input-tag {
    position: absolute;
    top: -16px;
    left: 24px;
    padding: 4px 24px;
    color: var(--primary);
    background-color: var(--black);
    z-index: 1;
}

/* SMALL - Mobile */
@media(max-width: 640px) { 

}

/* MEDIUM - Tablet */
@media(min-width: 641px) and (max-width: 992px) { 

}